[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyjwt = "*"
cryptography = "*"
python-dotenv = "*"
flask-sse = "*"
treq = "*"
sqlalchemy = "*"
pymysql = "*"
mysqlclient = "*"
flask-cors = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
